#pocetak {
    margin-top:5%;
}
.test_tab_table table{
    margin-bottom:0px;
}
.container.body-content hr {
margin-top:0px;
}
.row footer{
    text-align:center;
}

.input-group.date.col-sm-3{
    padding-left:15px;
}

h2 {
    margin-top:65px;
}